<% if @category.errors.any? %>
<h4>The following errors prevented category creation</h4>
    <ul>
        <% @category.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>
<div class="row">
    <div class="col-xs-10">
        <%= form_for @category do |f| %>
            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <%= f.label :name %>
                </div>
                <div class="col-sm-8">
                    <%= f.text_field :name, class:"form-control rounded" %>
                </div>
            </div>
            <div class="form-control">
                <div class="col-sm-2 control-label">
                    <%= f.label :description %>
                </div>
                <div class="col-sm-8">
                    <%= f.text_area :description, class:"form-control rounded" %>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <!--%= f.submit, class: "btn btn-primary" %-->
                </div>
            </div>
            
        <% end %>
    </div>
</div>

<%= link_to "Back", categories_path %>