<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <% @categories.each do |category| %>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <%= category.name %>
                    </h2>
                </div>
                <div class="panel-body">
                    <p>
                    <%= truncate(category.description, length: 100) %>
                    </p>
                    <p>
                        <%= link_to "Edit", edit_category_path(category), class: "btn btn-sm btn-primary" %>
                        <%= link_to "Show", category_path(category), class: "btn btn-sm btn-success" %>
                        <%= link_to "Remove", category_path(category), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
                    </p>
                </div>
            </div>
        <% end %>
    </div>
</div>